<form name="workorderDetailFrom">
    <div class="form-group">
        <label>Open Date</label>
        <input type="text" class="form-control" ng-model="OpenedDate" placeholder="Enter the openning date... "/>
    </div>
    <div class="form-group">
        <label>Close Date</label>
        <input type="text" class="form-control" ng-model="ClosedDate" placeholder="Enter the closing date... " />
    </div>
</form>




<div class="well clearfix">
    <button class="btn btn-success pull-right" ng-click="getRange()">
        Submit
    </button>
</div>