<div class="row">
    <div class="col-xs-5">
        <div class="form-group">
            <label>Start Date</label>
            <input type="text" class="form-control" ng-model="OpenedDate" />
        </div>
    </div>
    <div class="col-xs-5">
        <div class="form-group">
            <label>End Date</label>
            <input type="text" class="form-control" ng-model="ClosedDate" />
        </div>
    </div>
    <div class="col-xs-2">
        <button class="btn btn-block btn-info" style="margin-top: 25px;" ng-click="getRange()">Filter</button>
    </div>
</div>

<table class="table table-striped table-responsive">
    <thead>
        <tr>
            <th>Property Id</th>
            <th>Tenant Id</th>
            <th>Description</th>
            <th>Opened Date</th>
            <th>Closed Date</th>
            <th>Priorities</th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="workorder in workorders">

            <td>{{workorder.PropertyId}}</td>
            <td>{{workorder.TenantId}}</td>
            <td>{{workorder.Description}}</td>
            <td>{{workorder.OpenedDate}}</td>
            <td>{{workorder.ClosedDate}}</td>
            <td>{{workorder.Priorities}}</td>

            <td>
                <a class="btn btn-info" ng-href="#/workorder/detail/{{workorder.WorkOrderId}}">Edit</a>
                <a class="btn btn-danger" ng-click="deleteWorkorder(workorder)">Delete</a>
            
            </td>
        </tr>   
    </tbody>  
</table>

<a class="btn btn-default pull-right" ng-href="#/workorder/add">Add</a>