<table class="table  table-bordered table-responsive">
    <thead>
        <tr>
            <th>Tenant Id </th>
            <th>Property Id</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Rent Amount</th>
            <th>Rent Frequencies</th>
            <th>

            </th>
        </tr>

    </thead>

    <tbody>
        <tr ng-repeat="lease in leases">

      
            <td>{{lease.TenantId}}</td>
            <td>{{lease.PropertyId}}</td>
            <td>{{lease.StartDate}}</td>
            <td>{{lease.EndDate}}</td>
            <td>{{lease.RentAmount}}</td>
            <td>{{lease.RentFrequencies}}</td>

            <td>
                <a class="btn btn-info" ng-href="#/lease/detail/{{lease.LeaseId}}">Edit</a>
                <a class="btn btn-danger" ng-click="deleteLease(lease)">Delete</a>
            
            </td>
        </tr>

    </tbody>
</table>
<a class="btn btn-default pull-right" ng-href="#/lease/add">Add</a>