<div>
    <br />
    <br />
<form name="propertyDetailFrom">
    <div class="form-group home2">
        <label class="home5">Property Name</label>
        <input type="text" class="form-control input-lg text-center" ng-model="property.PropertyName"/>
    </div>
    <div class="form-group home2">
        <label class="home5">Address Id</label>
        <input type="text" class="form-control input-lg text-center" ng-model="property.AddressId" />
    </div>
    <div class="form-group home2">
        <label class="home5">Address/Address1</label>
        <input type="text" class="form-control input-lg text-center" ng-model="property.Address.Address1" />
    </div>
    <div class="form-group home2">
        <label class="home5">City</label>
        <input type="text" class="form-control input-lg text-center" ng-model="property.Address.City" />
    </div>
    <div class="form-group home2">
        <label class="home5">State</label>
        <input type="text" class="form-control input-lg text-center" ng-model="property.Address.State" />
    </div>
    <div class="form-group home2">
        <label class="home5">Post Code</label>
        <input type="text" class="form-control input-lg text-center" ng-model="property.Address.PostCode" />
    </div>
</form>
    <br />
    </div>
        <div>
          
            <button class="btn btn-default center-block" ng-click="saveProperty()">
                Save
            </button>

        </div>


