
.home h1 {
  text-align: center;
  color: white;
  text-shadow: 4px 4px #000;
  margin-top: 40px;
  
}

.home2 {
    text-align:start;
    position:center;
     width: 70%;
     margin:auto; 
}

.home3 {

     border-color:aqua;
   
}
.home4 {
    text-align:center;
    position:center;
     width: 50%;
     margin:auto; 
}
.row {
    position:relative;    
}
.test1 {
    width:550px;
    position:center;
    margin-left:300px; 
}
.test2 {
    width:500px;
    position:center;
    margin-left:325px; 
}
.test3 {
    position:absolute !important;
    top:20px;
    margin-left:200px;
}


/*//<add name="PropertyManager" connectionString="Server=tcp:propertymanager.database.windows.net,1433;Database=propertymanager;User ID=propertymanager@propertymanager;Password={PASSWORD};Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />*/
 ///*<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />*/
/*// <add name="PropertyManager" connectionString="Server=WIN-7PBLFSNQRON;Initial Catalog=PropertyManager;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />*/


 /*<entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionString>
    <add name="PropertyManager" connectionString="Server=WIN-7PBLFSNQRON;Initial Catalog=PropertyManager;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionString>
  </configuration>*/

 /*<add name="PropertyManager" connectionString="Server=tcp:propertymanager.database.windows.net,1433;Database=propertymanager;User ID=propertymanager@propertymanager;Password={PASSWORD};Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />*/