<div>
    <br />
    <br />
    <form name="workorderDetailFrom">
        <div class="form-group home2">
            <label class="home5">Property Id</label>
            <input type="text" class="form-control" ng-model="workorder.PropertyId" />
        </div>
        <div class="form-group home2">
            <label class="home5">Tenant Id</label>
            <input type="text" class="form-control" ng-model="workorder.TenantId" />
        </div>
        <div class="form-group home2">
            <label class="home5">Description</label>
            <input type="text" class="form-control" ng-model="workorder.Description" />
        </div>
        <div class="form-group home2">
            <label class="home5">Opened Date</label>
            <input type="text" class="form-control" ng-model="workorder.OpenedDate" />
        </div>
        <div class="form-group home2">
            <label class="home5">Closed Date</label>
            <input type="text" class="form-control" ng-model="workorder.ClosedDate" />
        </div>
        <div class="form-group home2">
            <label class="home5">Priorities</label>
            <input type="text" class="form-control" ng-model="workorder.Priorities" />
        </div>
    </form>
    </div>
<br />
<div>
        <button class="btn btn-default center-block" ng-click="saveWorkorder()">
            Save
        </button>
    </div>

