<div class="container">
    <h1><font color="white">Property Manager Login</font></h1>

    <div class="form-group">
        <label ><font color="white">User Name</font></label>
        <input type="text" class="form-control input-lg text-center" ng-model="loginData.username" color="white"/>
    </div>

    <div class="form-group">
        <label><font color="white">Password</font></label>
        <input type="password" class="form-control input-lg text-center" ng-model="loginData.password"/>
    </div>


 <button class="btn btn-success btn-lg" ng-click="login()"> Login</button>
</div>