<div class="row  home">
    <h1>Tenants</h1>
</div>
<hr>-->
<div class="jumbotron" style="margin-top:45px">
    <table class="table-bordered table-hover">
        <thead>
            <tr>
                <th class="home5">Address Id</th>
                <th class="home5">First Name</th>
                <th class="home5">Last Name</th>
                <th class="home5">Telephone Number</th>
                <th class="home5">Email Address </th>
                <th></th>
            </tr>

        </thead>

        <tbody>
            <tr ng-repeat="tenant in tenants">

                <td>{{tenant.AddressId}}</td>
                <td>{{tenant.FirstName}}</td>
                <td>{{tenant.LastName}}</td>
                <td>{{tenant.Telephone}}</td>
                <td>{{tenant.EmailAddress }}</td>

                <td>
                    <a class="btn btn-default" ng-href="#/app/tenant/detail/{{tenant.TenantId}}">Edit</a>
                    <a class="btn btn-danger" ng-click="deleteTenant(tenant)">Delete</a>
                </td>
            </tr>

        </tbody>
    </table>
</div>
    <a class="btn btn-default pull-right" ng-href="#/app/tenant/add">Add</a>
