<div>
    <br />
    <br />
    <form name="tenantDetailFrom">
        <div class="form-group home2">
            <label class="home5">Address Id</label>
            <input type="text" class="form-control" ng-model="tenant.AddressId" />
        </div>
        <div class="form-group home2">
            <label class="home5">First Name</label>
            <input type="text" class="form-control" ng-model="tenant.FirstName" />
        </div>
        <div class="form-group home2">
            <label class="home5">Last Name</label>
            <input type="text" class="form-control" ng-model="tenant.LastName" />
        </div>
        <div class="form-group home2">
            <label class="home5">Telephone</label>
            <input type="text" class="form-control" ng-model="tenant.Telephone" />
        </div>
        <div class="form-group home2">
            <label class="home5">Email Address</label>
            <input type="text" class="form-control" ng-model="tenant.EmailAddress" />
        </div>
    </form>

</div>
<br />
    <div>
        <button class="btn btn-default center-block" ng-click="saveTenant()">
            Save
        </button>
    </div>
