<div class="container">
<h1>Property Manger Registration</h1>

<div class="form-group">
    <label>User Name</label>
    <input type="text" class="form-control input-lg text-center"/> 
</div>

<div class="form-group"><label>Email Address</label>
<input type="email" class="form-control input-lg text-center" />
</div>

<div class="form-group">
<label>Pass Word</label>
<input type="password" class="form-control input-lg text-center" />
</div>

<div class="form-group">
<label>Pass Word Confirm</label>
<input type="password" class="form-control input-lg text-center" />
</div>


    <button class="btn btn-success btn-lg">Register</button>
    </div>



